body {
    text-align: center;
    font-family: Thasadith, "Open Sans", raleway,Verdana, arial, sans-serif;
    font-size: 17px;
}

h1,
h2 {
    font-family: "Shadows Into Light Two", Thasadith, lucida handwriting; arial; sans-serif;
    color: goldenrod;  
    font-weight: 500; 
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    font-family: Thasadith, "Open Sans", raleway,Verdana, arial, sans-serif;
    color: goldenrod;
    font-weight: 300;
}

.sub-title-pages {
    text-align: left;
}

img {
    width: 500px;
    height: auto;
}

.img-pages {
    width: 1050px;
    height: auto;
}

ul, ol {
    text-align: justify;
    color:goldenrod;
    background-color: transparent; 
    line-height: 1,5;
}

.ol-pages,
.ul-pages {
    text-align: justify;
    color: grey;
    background-color: white;
    line-height: 1.5;
}

a {
    color: goldenrod;
}

p {
    text-align: left;
    color: grey
}

h3,
.sub-title-pages {
    text-align: justify;
}

#phases {
    font-weight: 500;
}